.App {
  text-align: center;

  background: linear-gradient(
      rgba(255, 255, 255, 0) 25%,
      rgba(255, 255, 255, 0.4) 35%,
      rgba(255, 255, 255, 0.6) 45%,
      rgba(255, 255, 255, 0.8) 55%,
      rgb(255, 255, 255) 100%
    ),
    linear-gradient(
      45deg,
      rgba(229, 128, 66, 0.45) 0%,
      rgba(229, 128, 66, 0.45) 25%,
      rgba(212, 160, 112, 0.45) 25%,
      rgba(212, 160, 112, 0.45) 50%,
      rgba(195, 191, 157, 0.45) 50%,
      rgba(195, 191, 157, 0.45) 75%,
      rgba(178, 223, 203, 0.45) 75%,
      rgba(178, 223, 203, 0.45) 100%
    ),
    linear-gradient(
      135deg,
      rgb(251, 248, 117) 0%,
      rgb(251, 248, 117) 25%,
      rgb(246, 167, 110) 25%,
      rgb(246, 167, 110) 50%,
      rgb(240, 85, 102) 50%,
      rgb(240, 85, 102) 75%,
      rgb(235, 4, 95) 75%,
      rgb(235, 4, 95) 100%
    );
}

.headerH {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
